html, body
{
	width: 100%;
	height: 100%;
	min-height:100%;
	margin: 0;
	padding: 0;
	background-color: #F4F4F4;
}

#container
{
	display: block;
	text-align: left;
	padding: 5px;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#map_canvas
{
	width: 100%;
	height: 100%;
}
